{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ф.И.О</th>
            <th scope="col">Телефон</th>
            <th scope="col">Почта</th>
            <th scope="col">Вопрос</th>
        </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ item.name }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.question }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}